

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
 /* Correct background image syntax */
    background-image: url('images/main.jpg'); /* change .jpg to .png if your file is png */
    background-size: cover;      /* cover entire page */
    background-position: center; /* center the image */
    background-repeat: no-repeat;/* prevent tiling */
    background-color:#9C8989;
}
.product-card img {
    width: 100%;       /* Fills the card width */
    height: 250px;     /* Sets a fixed height */
    object-fit: cover; /* Crops the photo so it doesn't look squashed */
    border-radius: 8px;
}

header {
    background-color:#F5E027;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #eaeaea;
}

header h1 {
    margin: 10px 0;
    letter-spacing: 2px;
}

nav {
    margin-top: 15px;
}

nav a {
    text-decoration: none;
    color: #8F2915;
    font-weight: bold;
    margin: 0 15px;
    transition: color 0.3s;
}

nav a:hover {
    color: #21200F; /* Changes color when you point at it */
}


.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 40px 20px;
}

.product-card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 220px;
    padding: 15px;
    text-align: center;
    transition: transform 0.2s;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.product-card:hover {
    transform: translateY(-5px); /* Makes card pop up slightly */
}

.product-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}


button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #555;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background: white;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}


footer {
    text-align: center;
    padding: 30px;
    background: #333;
    color: white;
    margin-top: 40px;
}